@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Outfit', sans-serif;

    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-900: #0c4a6e;

    --color-accent-500: #10b981;
    --color-accent-600: #059669;

    --color-surface: #f8fafc;
    --color-dark: #0f172a;
}